<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Holo-to-Talk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <!-- Contents -->
    <div id="wrapper">
        <!-- テキスト（telop） -->
        <div id="div_telop">
            <div id="telop">Enterを押して始めてください</div>
        </div>

        <!-- ホログラム -->
        <div></div>

        <!-- テキスト（output） -->
        <div id="output"></div>

        <!-- テキスト（input） -->
        <div id="input" class="display_none"></div>
    </div>

    <!-- js -->
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
</body>
</html>