body {
  font-family: "Noto Sans JP", sans-serif;
}



.card {
  margin:50px
}


.card-content .row {
  margin-bottom: 20px;
}

.card-content strong {
  font-weight: 500;

}

.center-align {
  margin-top: 20px;
}
