/* 全体のレイアウト設定 */
body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 500px; /* カードの幅を500pxに設定 */
}

/* 入力フィールドのフォント設定 */
input[type="text"],
input[type="password"],
input[type="tel"] {
  font-family: 'Noto Sans JP', sans-serif;
}
